# Database / Services
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-key-here
SESSION_SECRET_KEY=your-secret-key-here

# Application Configuration
PUBLIC_BASE_URL=http://localhost:8000

# GEN AI SERVICES
GEMINI_API_KEY = YOUR KEY HERE